.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Temp/
Library/
Assembly-CSharp.csproj
*.p12
builds/
builds-*
server-dash/adminsdk-key.json
server-dash/node_modules/*

server-dash/npm-debug.log

server-dash/vars.env

server-dash/vk@cplsr.complexplay.org
